.pageNotFound {
  height: 100%;
  padding: 246px 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-size: 140px;
    line-height: 169px;
    font-weight: 400;
    margin: 0;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    margin: 5px 0 0;
  }

  &__link {
    background-color: #00000000;
    border: 0;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    margin-top: 184px;
    color: var(--color-purple);
  }
}
