html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
}

:root {

}