@mixin scrollbar {
  ::-webkit-scrollbar {
    width: 8px;
    background-color: #00000000;
  }
  overflow-y: scroll;
  scrollbar-color: green #00000000;

  ::-webkit-scrollbar-thumb {
    background-color: green;
  }
}